body {
  font-family: "Roboto", sans-serif;
  background-image: url("../../components/chicago_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.infoBox {
  background-color: black;
  color: #ffffff;
  text-align: center;
  width: 15%;
  height: 482px;
  margin-left: 5%;
  border-radius: 5px;
  padding-top: 30px;
}
.carousel{
  
  width: 65%;
  
  margin: auto;

}
.container{
  display: flex;
  
}
h1,
h1:first-child {
  margin-top: 10px;
}

.instagram {
  font-size: 20px;
  color: #ffffff;
}

.instagram:hover,
.instagram:active {
  color: #ea3463;
  text-decoration: underline;
}

button {
  margin-top: 10px;
  background-color: black;
  border-color: black;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: 11%;
  border-radius: 4px;
}

button:hover,
button:active {
  background-color: #ffffff;
  color: black;
  margin-bottom: 10px;
}

#carouselExampleFade {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 4px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.proPicture{
  color: black;
  background: #ffffff;
  opacity: .7;
}
.deleteBtn {
  background-color: black;
  border-color: black;
  color: #ffffff;
  margin-bottom: 100px;
  margin-left: 0;
  margin-right: 13%;
  float: right;
  border-radius: 4px;
}
.deleteBtn:hover, .deleteBtn:active {
  background-color: #b30000;
  color: #ffffff;
  margin-bottom: 100px;
  margin-left: 0;
  margin-right: 13%;
  float: right;
  border-radius: 4px;
}
/* @media only screen and (max-width: 600px) {
  .infoBox {
    background-color: none;
    color: black;
    opacity: .5;
  }
} */