@import url("https://fonts.googleapis.com/css?family=Roboto:900");

.imghvr-blur figcaption {
  opacity: 0;
}

.imghvr-blur:hover > img {
  filter: blur(1px);
  background-color: rgba(68, 68, 68, 0.8);
}

.imghvr-blur:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s;
}

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
  width: 200px;
  position: relative;
  bottom: 200px;
}

/* .img-link {
  width: 400px;
  height: 300px;
} */
