@import url("https://fonts.googleapis.com/css?family=Roboto:900");

.imghvr-blur figcaption {
  opacity: 0;
}

img {
  height: 300px;
  width: 400px;
}

.imghvr-blur:hover > img {
  -webkit-filter: blur(30px);
  filter: blur(30px);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0;
}

.imghvr-blur:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.21s;
  transition-delay: 0.21s;
}

figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: white;
  text-align: center;
  padding: 20px;
}
